/* Basic styling */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #092c4c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 50%;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* My UX Skills Section */
.mySkills {
  margin-bottom: 40px;
  width: 80%; /* Adjust the width as needed */
}

#row { 
  background-color: #FFF7DE;
  display: flex; /* Add display property */
  flex-direction: row;
  justify-content: space-between; /* Add justify-content property */
  padding: 10px;
  margin: 10px;
}

.flex_item {
  width: 30%; /* Adjust the width as needed */
  padding: 10px;
  margin: 10px;
  background-color: #092c4c;
  color: white;
}

/* My Work Section */
.myWork {
  margin-bottom: 40px;
  width: 80%; /* Adjust the width as needed */
}

.workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box;
}

.workGrid > div {
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}

/* Mobile Media Query */
@media screen and (max-width: 600px) {
  /* My Work Section for Mobile */
  .workGrid {
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "mySkills"
    "myWork";
  }
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
